{% extends 'index.html' %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-8">
            <div class="border rounded-lg">
                <div class="m-3">
                    <h4>{{ client.name }}</h4>
                    <p>{{ client.phone }}</p>
                    <p>{{ client.address }}</p>
                    <hr/>
                    <p>거래 상품 목록</p>
                    {% for product in products %}
                        <p><a href="{{ product.get_absolute_url }}">{{ product.name }} [{{ product.price }}원]</a></p>
                    {% endfor %}
                </div>


            </div>
            <div class="mt-2">
                <a class="btn btn-primary mr-1" href="{% url 'shop:edit_client' client.pk %}">수정</a>
                <a class="btn btn-primary mr-1" href="{% url 'shop:delete_client' client.pk %}">삭제</a>
                <a class="btn btn-primary mr-1" href="{% url 'shop:list_client' %}">목록</a>
            </div>
        </div>
    </div>
{% endblock %}